In [12]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('Argetina-2019-anonimizado.csv')

In [28]:
np.where(df['Ventas']==-372)

(array([2213577], dtype=int64),)

In [29]:
df.iloc[2213577]

Fecha           23/3/2019
Hora          14:00 15:00
Local               85328
Tipo_Local             MS
Area                    7
Ventas               -372
Name: 2213577, dtype: object

In [56]:
df

              Fecha         Hora  Local Tipo_Local  Area  Ventas
0          3/6/2019  08:00 09:00    462         IS     6      86
1         10/5/2019  04:00 05:00  89869         FC     5       0
2         26/2/2019  03:00 04:00  89985         FC     6      10
3          1/2/2019  02:00 03:00    507         FS     6       4
4        29/12/2019  04:00 05:00    403         FS     3      29
...             ...          ...    ...        ...   ...     ...
5170347   26/4/2019  07:00 08:00  89530         FS     6       7
5170348   2/11/2019  00:00 01:00    109         MS     7      44
5170349   19/2/2019  20:00 21:00  85299         IS     6      46
5170350   10/6/2019  12:00 13:00   2500         MS     7       2
5170351    8/6/2019  02:00 03:00  85299         IS     9       0

[5170352 rows x 6 columns]

In [55]:
df.loc[:,'Fecha']

0            3/6/2019
1           10/5/2019
2           26/2/2019
3            1/2/2019
4          29/12/2019
              ...
5170347     26/4/2019
5170348     2/11/2019
5170349     19/2/2019
5170350     10/6/2019
5170351      8/6/2019
Name: Fecha, Length: 5170352, dtype: object